#title{
	display: block;
    font-size: 2em;    
    font-weight: bol;
}
.container {
	margin-top: 1rem;
	display: grid;
	width: 1200px;

	justify-content: space-around;
}

#gridcontainer {
		border: 10px;
		border-color: rgb(170, 170, 170);
		display: grid;
		height: 800px;
		width:800px;
		background-color: #c9a2a2;
		margin-top: 20px;
}
body{
    font-family: Helvetica, sans-serif;
	background-color: #4b5a79;
	color: rgb(10, 10, 1);
	display: flex;
	flex-direction: column;
	align-items: center;

    

}
#buttoni{
    background-color: white;

}